/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #2c3e50, #34495e, #8e44ad, #2980b9); /* Gradiente de colores oscuros con tonos azulados y morados */
  background-size: 400% 400%; /* Asegura que el gradiente cubra todo el fondo */
  animation: gradientShift 5s ease infinite; /* Animación del cambio rápido de gradiente */
  color: #fff;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* Animación para el gradiente de fondo */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Overlay Effect with Gradient */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 70%);
  z-index: -1;
}

/* Estilos específicos para el formulario de Login */
#formLogin {
  max-width: 400px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.3); /* Fondo translúcido */
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  backdrop-filter: blur(8px); /* Efecto de desenfoque */
  transition: box-shadow 0.3s ease; /* Transición suave solo para la sombra */
}

/* Estilo de encabezado en el formulario */
#formLogin h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff; /* Texto blanco */
}

/* Estilos de los elementos del formulario */
#formLogin .form-group {
  margin-bottom: 1rem;
}

#formLogin label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #fff; /* Color blanco para los labels */
}

#formLogin input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.8); /* Fondo más claro para inputs */
  color: #333;
  transition: border 0.3s ease;
}

/* Efecto en el input al recibir foco */
#formLogin input:focus {
  border: 1px solid #fc3441;
  outline: none;
}

/* Botón del formulario */
#formLogin button {
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  background-color: #fc3441;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efecto Hover en el botón */
#formLogin button:hover {
  background-color: #ff4b4b;
  transform: translateY(-2px); /* Efecto de movimiento al pasar el cursor */
}

/* Estilo del enlace en el formulario */
#formLogin p {
  margin-top: 1rem;
  font-size: 1rem;
}

#formLogin a {
  color: #fc3441;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Efecto Hover en el enlace */
#formLogin a:hover {
  color: #ff4b4b;
}
