/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../public/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    position: relative;
}

/* Overlay Effect with Gradient */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 70%);
    z-index: -1;
}

/* Help Section Styling */
div {
    max-width: 700px;
    padding: 3rem;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 2rem;
    color: #333;
}


/* Title Styling */
h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
    font-weight: bold;
    text-align: center;
}

/* Paragraph and Link Styling */
p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
    text-align: justify;
}

strong {
    color: #fc3441;
    font-weight: bold;
}

a {
    color: #fc3441;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ff4b4b;
    text-decoration: underline;
}
