<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quaerite - Home</title>
    <link rel="stylesheet" href="../../public/css/home.css" />
  </head>

  <body>
    <!-- Eencabezado -->
    <header class="header">
      <div id>
        <h1>Quaerite</h1>
        <p class="tagline">Innovación y Soluciones a Medida</p>
      </div>
      <div id="facturacion">
        <a href="./access/login.html" class="button-link">iniciar sesion</a>
      </div>
    </header>

    <!-- presentación -->
    <section class="introduction">
      <h2>Bienvenido a Quaerite</h2>
      <p>
        Somos una empresa de desarrollo tecnológico en rápido crecimiento,
        ofreciendo soluciones en IT, Inteligencia Artificial y Robótica. Nuestro
        objetivo es convertirnos en tu socio de confianza para el futuro
        digital.
      </p>
    </section>

    <!-- servicios -->
    <section class="services">
      <h2>Nuestros Servicios</h2>
      <div class="service-cards">
        <div class="service-card">
          <h3>Desarrollo de Software</h3>
          <p>
            Soluciones a medida para transformar tu negocio y optimizar tus
            procesos.
          </p>
        </div>
        <div class="service-card">
          <h3>Inteligencia Artificial</h3>
          <p>
            Implementación de IA para potenciar la toma de decisiones y la
            eficiencia.
          </p>
        </div>
        <div class="service-card">
          <h3>Robótica</h3>
          <p>
            Desarrollamos soluciones robóticas para automatizar procesos clave
            en tu organización.
          </p>
        </div>
      </div>
    </section>

    <!-- llamado a la acción -->
    <section class="cta">
      <p>¿Listo para transformar tu empresa?</p>
      <a href="./contacts/contact.html" class="button-link">Contáctanos</a>
    </section>

    <!-- pie de página y contacto -->
    <footer class="footer">
      <p>© 2024 Quaerite. Todos los derechos reservados.</p>
      <p>Encuéntranos en nuestras redes sociales:</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/feed/"
          ><img
            src="../../public/images/icons/chat_communication_linked_in_media_social_icon_123255.ico"
            alt="linkedin"
        /></a>
        <a href="https://x.com/"
          ><img
            src="../../public/images/icons/twitter_x_new_logo_square_x_icon_256075.ico"
            alt="X"
        /></a>
        <a href="https://www.facebook.com/"
          ><img
            src="../../public/images/icons/Facebook_Square_icon-icons.com_49948.ico"
            alt="facebook"
        /></a>
      </div>
    </footer>
  </body>
</html>
