<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica medica</title>
    <link rel="stylesheet" href="../../../public/css/styles.css">
</head>

<body id="anatomy">
    <div>
        <h1>APROXIMACION ANATOMICA</h1>
    </div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quisquam, in ut eius dolores qui accusantium
        ipsam, id officiis repellat itaque distinctio beatae minus tempore corporis, quam modi nesciunt nulla.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis temporibus qui architecto quo magnam
        distinctio praesentium aliquid, reprehenderit commodi quidem, veniam quibusdam consequatur modi fugiat accusamus
        tempore eos, provident facere?
        Perspiciatis magnam repellat nisi quod dolorum voluptatum explicabo veniam quae ea odit ipsa, fugit accusantium
        neque voluptates in impedit aliquid earum ad quidem officiis illum temporibus. Veritatis sed adipisci rem.
        Minima facilis veritatis voluptate ipsam est ipsa error eligendi assumenda vero odio, perferendis reiciendis
        explicabo dolores minus rerum quaerat voluptatem ratione. Incidunt optio dicta inventore itaque modi animi
        accusamus odio?
    </p>


</body>
<footer class="footer">
    <p>© 2024 Quaerite. Todos los derechos reservados.</p>
    <p>Encuéntranos en nuestras redes sociales:</p>
    <div class="social-links">
        <a href="#">LinkedIn</a>
        <a href="#">Twitter</a>
        <a href="#">Facebook</a>
    </div>
</footer>

</html>